<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="css/style.css">


    <title>Weather App</title>
</head>
<body>
<div class="box">
        <div class="wave -first"></div>
        <div class="wave -second"></div>
        <div class="wave -third"></div>
        <div class="wave -fourth"></div>
    

    <div id="weathercon">
        <i class="fa-solid fa-sun" style="color: #FFE87C;"></i>
    </div>

    <div class="info">
        <h2 id="location"><i class="fa-solid fa-street-view" style="color: aqua;"></i>{{Location}}, {{Country}}</h2>
        <p id="Current_date">informatoin error</p>
        <h2 id="Current_temp">{{Temprature}}&deg;C</h2>
        <h3 id="max_temp">Min {{Min_Temp}}&deg;C || Max {{Max_Temp}}&deg;C</h3>
    </div>
</div>
<script src="script/script.js"></script>



</body>
</html> 
